<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Snake</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="snakeApp" class="playground">
        <canvas id="snake" width="608" height="608"></canvas>
        <div class="oportunities">
            <img id="vida1" src="./img/life.png" alt="">
            <img id="vida2" src="./img/life.png" alt="">
            <img id="vida3" src="./img/life.png" alt="">
        </div>
    </div>
    <div id="cuestionario" class="cuestionario">
        <div id="pregunta" class="pregunta">

            <h2 clas>JUEGO TERMINADO</h2>
            <p id="metodo">Para seguir jugando resuelve el siguiente problema por: <b>{{metodo}}</b></p>

            <template v-if="saltadas==4">
                <h2 class="youLost">Excediste el limite de oportunidades. Da click en el boton para jugar de nuevo.</h2>
                <div class="btnPlay">
                    <a href="index.html">Volver a jugar</a>
                </div>
            </template>
            <template v-else>
                <h2>Respuesta: </h2><input id="campoRespuesta" type="text">
                <button class="validar" id="validar" @click="validarRespuesta">Validar respuesta</button>
                <button class="validar" id="saltar" @click="saltarMetodo">Saltar</button>
            </template>
        </div>
        <div id="mensaje" class="mensaje">
            <div class="correcta" v-if="correcta">
                <h2>Respuesta correcta</h2>
            </div>
            <div v-else class="incorrecta">
                <h2>Respuesta incorrecta</h2>
            </div>
        </div>
    </div>

</body>
<script src="snake.js"></script>

</html>