@import url('https://fonts.googleapis.com/css?family=Poppins:400,800&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.playground {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    .oportunities {
        display: flex;
        transform: translateX(-250px);
        img {
            margin: 10px;
            width: 50px;
            height: 50px;
        }
    }
}

.cuestionario {
    //background: blue;
    margin-top: 50px;
    visibility: hidden;
    font-family: 'Poppins', sans-serif;
    //background: yellow;
    position: absolute;
    width: 50%;
    transform: translate(610px, -650px);
    .pregunta {
        #metodo {
            font-size: 20px;
        }
        .timer {
            font-size: 25px;
            color: black;
            transform: translate(0px, 10px);
            #time {
                color: red;
            }
        }
        margin-left: 20px;
        .youLost {
            font-size: 20px;
        }
        .btnPlay {
            background: blue;
            font-size: 20px;
            height: 50px;
            width: 300px;
            margin-bottom: 20px;
            a {
                text-decoration: none;
                color: white;
                //padding: 30px;
            }
        }
        .validar {
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            padding: 15px;
            background: #6BBAEC;
            margin-top: 10px;
            margin-bottom: 20px;
            border: none;
            cursor: pointer;
        }
        h2 {
            margin-bottom: 0;
            font-size: 30px;
            color: red;
        }
        p {
            font-size: 25px;
            margin: 0;
        }
        input[type=text] {
            font-family: 'Poppins', sans-serif;
            padding: 10px;
            font-size: 20px;
            width: 500px;
        }
    }
    .mensaje {
        display: flex;
        margin-left: 20px;
        visibility: hidden;
        h2 {
            font-size: 20px;
            text-align: center;
            width: 300px;
        }
        .correcta {
            background: green;
            height: 65px;
        }
        .incorrecta {
            height: 65px;
            background: red;
        }
    }
}